{% extends "parciais/base.html" %}

{% block content %}
<section>
    <div class="container col-8 text-center p-2">
            <h4>ADICIONAR EMISSORAS</h4>
                <form action="{% url 'cad_emissora' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type = "submit" value = "Adicionar" class="btn btn-success">
                    <a href="/emissoras">
                        <button type="button" class="btn btn-danger">CANCELAR</button>
                    </a>
                </form>
    </div>
</section>

{% endblock %}